
<nav>
  <div class="row">
    <div class= "span8">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand">
          AM-87 Cookbook
          </a>
            <ul class= "nav btn-group">
              <li><%= link_to 'Cookbooks', cookbooks_path,  class: "btn" %></li>
              <li><%= link_to 'New Cookbooks', new_cookbook_path, class: "btn" %></li>
              <li><%= link_to 'Recipes', recipes_path, class: "btn" %></li>
              <li><%= link_to 'New Recipes', new_recipe_path, class: "btn" %></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</nav>